<style>
  .links{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55) !important;
  }
  .links:hover{
    color: rgba(0,0,0,0.7) !important;
    transition: none !important;
  }
</style>

<!-- Footer -->
<footer class="text-center text-lg-start text-muted">

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: #f8f9fa;">
    © 2022 Copyright:
    <a class="text-reset fw-bold links" href="https://www.linkedin.com/in/laszloscheers/" target="_blank">Laszlo Scheers</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
