<style>
  body{
    background-color: #f2f2f2;
  }
  .forum-content{
    margin: 0% 10% 0% 10%;
  }
  @media(max-width:476px){
    .forum-content{
      margin: 0% 10% 0% 10%;
    }
  }
  .jumbotron{
    margin: 3% 0% 3% 0%;
    min-height: 80vh;
  }
  .jumbotron h1{
    font-size:2.3vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
  }
  .jumbotron p{
    font-size:1.3vw;
    padding-right: 35%;
  }
  @media(max-width:1450px){
      .jumbotron h1{
        font-size:3vw;
      }
      .jumbotron p{
        font-size:1.5vw;
      }
  }
  @media(max-width:1199px){
    .card-user{
        margin: 0% 0% 0% 0%;
    }
  }
  @media(max-width:991px){
      .jumbotron{
        margin: 15% 0% 0% 0%;
      }
      .jumbotron h1{
        font-size:7vw;
      }
      .jumbotron p{
        font-size:3.2vw;
      }
  }
  @media(max-width:476px){
      .jumbotron h1{
        font-size:10vw;
      }
      .jumbotron p{
        font-size:5vw;
      }
  }
  @media(max-width:992px){
    .card-holder{
        margin-bottom: 5%;
    }
  }

  .home-link{
    display: inline;
    color: #4064ac !important;
    transition: none;
  }
  .home-link:hover{
    color: rgba(0, 0, 0, 0.7) !important;
    transition: none;
  }
</style>
<div class="container" >
  <div class="forum-content" >
      <div class=" d-flex justify-content-center mt-5">
          <!-- Jumbotron for welcome -->
          <div class="text-left jumbotron">
              <h1>Welcome to toDoOrNotToDo!</h1>
              <br />
              <p>
              <%= link_to new_user_registration_path, class: "nav-link home-link" do %>Create an account<% end %>
               or 
              <%= link_to new_user_session_path, class: "nav-link home-link" do %>log in<% end %>
              to add, edit, and delete your To-dos.
              </p>
          </div>
          <!--End Jumbotron -->
      </div>
  </div>
</div>